.btn-hero{
    padding: 20px 60px;
    background-color: black;
}

.hero-content{
    padding-top: 4rem;
    margin-left: 2rem;
}

.restaurant-hero{
    background-image: url(../../images/hamburguesa.jpg);
    background-size: cover;
}

